<!doctype html>
<!-- INSERT THYMELEAF FRAGMENT -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Employee</title>
    <!-- INSERT BOOTSTRAP AND Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/add.css}">
    <script th:src="@{/js/add.js}"></script>
</head>
<body>
<!-- INSERT NAV FRAGMENT -->
<nav th:insert="navigation.html :: nav"></nav>
<!-- INSERT FORM FOR ADD -->
<form th:object="${dto}" method="post" class="col-sm-6 mx-auto mt-5">
    <fieldset>
        <legend>Add Employee</legend>
        <div id="successMessage" th:if="${firstName != null && lastName != null}" class="alert alert-success offset-md-2">
            <h3 th:text="${firstName} + ' ' + ${lastName} + ' has been successfully added'"></h3>
        </div>
        <div class="alert alert-danger offset-md-2" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
    <div class="form-group row required">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <input type="text"  th:field="*{firstName}" class="form-control col-sm-10" id="firstName" aria-describedby="nameHelp">
        <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div class="form-group row required">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <input type="text"  th:field="*{lastName}" class="form-control col-sm-10" id="lastName" aria-describedby="nameHelp">
        <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <div class="form-group row required">
        <label for="email" class="col-sm-2 col-form-label">E-mail</label>
        <input type="email"  th:field="*{email}" class="form-control col-sm-10" id="email" aria-describedby="nameHelp">
        <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div class="alert alert-danger offset-md-2" th:if="${usedEmail != null}" th:text="${usedEmail}"></div>
        </div>
        <div class="form-group row required">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <input type="password"  th:field="*{password}" class="form-control col-sm-10" id="password" aria-describedby="nameHelp">
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-group row required">
            <label for="manager" class="col-sm-2 col-form-label">Manager</label>
            <select name="managerId" id="manager" class="col-sm-10">
                <option th:each="manager : ${managers}"
                        th:value="${manager.id}"
                        th:text="${manager.firstName + ' ' + manager.lastName}">Managers</option>
            </select>
        </div>
        <div class="form-group row required">
            <label for="grade" class="col-sm-2 col-form-label">Grade</label>
            <select name="grade" id="grade" class="col-sm-10">
                <option th:each="grade : ${grades}"
                        th:value="${grade}"
                        th:text="${grade}">Grades</option>
            </select>
        </div>
        <div class="form-group row required">
            <label for="discipline" class="col-sm-2 col-form-label">Discipline</label>
            <select name="discipline" id="discipline" class="col-sm-10">
                <option th:each="discipline : ${disciplines}"
                        th:value="${discipline}"
                        th:text="${discipline}"></option>
            </select>
        </div>
        <div class="form-group row required">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
            <select name="status" id="status" onchange="changeFunc()" class="col-sm-10">
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status}"></option>
            </select>
        </div>
        <div class="form-group row required">
            <label for="project" class="col-sm-2 col-form-label">Projects</label>
            <select name="project" class="form-control col-sm-10" id="project">
                <option th:each="project : ${projects}" th:text="${project.name}"></option>
            </select>
        </div>
        <div class="form-group row required">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
            <input id="startDate" th:field="*{startDate}" size="16" type="date" class="form-control col-sm-10">
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
            <div class="alert alert-danger offset-md-2" th:if="${date != null}" th:text="${date}"></div>
        </div>
        <div class="form-group row required">
            <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
            <input id="endDate" th:field="*{endDate}" size="16" type="date" class="form-control col-sm-10">
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
        </div>
        <div class="form-group row required">
            <label for="skill" class="col-sm-2 col-form-label">Skill</label>
            <select name="skill" class="form-control col-sm-10" id="skill">
                <option th:each="skill : ${skills}" th:text="${skill.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary"
           th:href="@{/list/{num}/{sorting}(num=${page}, sorting=${sortingProperty})}">Cancel</a>
    </fieldset>
</form>
</body>
</html>