<!--Used as a template for -->
<!--sending an email-->
<!--after assigning new employees-->
<!--on a project-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ProjectAssignedTemplate</title>
</head>
<body>
<p th:text="'Hello ' + ${employee.firstName} + ' ' + ${employee.lastName}+ ','">
<p>
    You have been assigned to a new project. You can find the project details below.
</p> <br>

<ul>
    <li>Project Name: <p
            th:text="${employee.getEmployeesProjects().get(employee.getEmployeesProjects().size()-1).getProject().getName()}">
    </p></li>
    <li>Start date: <p
            th:text="${employee.getEmployeesProjects().get(employee.getEmployeesProjects().size()-1).getStartDate()}">
    </p></li>
    <li>End date: <p
            th:text="${employee.getEmployeesProjects().get(employee.getEmployeesProjects().size()-1).getEndDate()}">
    </p></li>
</ul>

<p>
    Regards, <br/>
    <em>Workforce Planner Team</em>
</p>
</body>
</html>