<!DOCTYPE html>
<!-- INSERT THYMELEAF FRAGMENT -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">
    <!-- INSERT BOOTSTRAP -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <title>MailSent</title>
</head>
<body>
<!-- CONTAINER FOR MAIL FRAGMENT -->
<div class="container">
    <input hidden name="page" th:value = "${page}">
    <input hidden name="sortingProperty" th:value = "${sortingProperty}">
    <h2>Success!</h2>
    <p>Changes have been made successfully. An email confirmation has been sent to <p th:text="${employeeMail}"></p><p>
    <a th:href="@{/list/{num}/{sorting}(num=${page}, sorting=${sortingProperty})}" class="btn btn-primary">Back</a>
</div>
</body>
</html>