<!DOCTYPE html>
<!-- INSERT THYMELEAF FRAGMENT -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ProjectAssignedTemplate</title>
</head>
<!-- MAIL FOR PROJECT SIGN -->
<body>
<p th:text="'Hello ' + ${employee.firstName} + ' ' + ${employee.lastName}+ ','">
<p>
    You have been assigned to a new project. You can find below the project details.
</p> <br>
<ul>
    <li>Project Name: <p th:text="${employee.project}">
    </p></li>
    <li>Start date: <p th:text="${employee.startDate}">
    </p></li>
    <li>End date: <p th:text="${employee.endDate}">
    </p></li>
</ul>
<p>
    Regards, <br/>
    <em>Workforce Planner Team</em>
</p>
</body>
</html>