<!DOCTYPE html>
<!-- INSERT THYMELEAF -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>UserAddedTemplate</title>
</head>
<!-- MAIL FOR ADD USER -->
<body>
<p th:text="'Hello ' + ${employee.firstName} + ' ' + ${employee.lastName} + ','">
</p>
<p>
    You have been successfully added as a user to <strong>Workforce Planner.</strong>
</p>
<p>Your password is:</p>
<p th:text="${employee.password}">
</p>
<p>
    <br>
    Regards, <br/>
    <em>Workforce Planner Team</em>
</p>
</body>
</html>
