<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employees Management</title>
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Employee</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<nav th:insert="navigation.html :: nav"></nav>

<form th:action="@{/project/add}" th:object="${projectValid}" method="post" class="col-sm-6 mx-auto mt-5">
    <fieldset>
        <legend>Add Project</legend>
        <div ></div>
        <div class="alert alert-danger offset-md-2" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <div id="successMessage" th:if="${projectName != null}" class="alert alert-success offset-md-2">
            <h3 th:text="${projectName} + ' ' + 'has been successfully added'"></h3>
        </div>
        <div class="form-group row required">
            <label for="projectName" class="col-sm-2 col-form-label">Project Name:</label>
            <input type="text" th:field="*{projectName}" class="form-control col-sm-10"
                   id="projectName">
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('projectName')}"
                 th:errors="*{projectName}"></div>
            <div class="alert alert-danger offset-md-2" th:if="${existingProject != null}"
                 th:text="${existingProject}"></div>
        </div>
        <div class="form-group row required">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
            <input type="date" th:field="*{startDate}" size="16" class="form-control col-sm-10"
                   id="startDate">
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('startDate')}"
                 th:errors="*{startDate}"></div>
        </div>
        <div class="form-group row required">
            <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
            <input type="date" th:field="*{endDate}" size="16" class="form-control col-sm-10"
                   id="endDate">
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('endDate')}"
                 th:errors="*{endDate}"></div>
        </div>
        <div class="form-group row required">
            <label for="description" class="col-sm-2 col-form-label">Description:</label>
            <input type="text" th:field="*{description}" class="form-control col-sm-10"
                   id="description">
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('description')}"
                 th:errors="*{description}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-primary"
           th:href="@{/projects/1}">Cancel</a>
    </fieldset>
</form>
</body>
</html>