<!--Assign Employees to a project page-->
<!--Includes dropdown menu for filtering -->
<!--by status-->
<!--Includes pagination-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assign Employees to a Project</title>
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/list.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<nav th:insert="navigation.html :: nav"></nav>
<div class="container-fluid">
    <br/>
    <input hidden name="projectName" th:value="${projectName}">
    <h3>
        Assign Employees to <span th:text="${projectName}"></span>
    </h3>
    <div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}" class="alert alert-danger">
        <p> Invalid dates! </p>
    </div>

    <form method="post">
        Project Start Date: <span th:text="${project.getStartDate()}"></span> <br/>
        Project End Date: <span th:text="${project.getEndDate()}"></span>
        <div class="row">
            <div class="nav-item dropdown col-lg-8">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Filter by <strong th:text="${sortByName}"></strong></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a th:class="${#strings.equals(filterByCode,'CURRENT_BENCH')} ? 'dropdown-item active' : 'dropdown-item'"
                       th:href="@{/assign/{projectsPage}/{projectName}/{page}/CURRENT_BENCH
                       (page=${pageNumber + 1},
                        projectName=${projectName},
                        projectsPage=${projectsPage})}">Current
                        Bench</a>
                    <a th:class="${#strings.equals(filterByCode,'BENCH_IN_ONE_MONTH')} ? 'dropdown-item active' : 'dropdown-item'"
                       th:href="@{/assign/{projectsPage}/{projectName}/{page}/BENCH_IN_ONE_MONTH
                       (page=${pageNumber + 1},
                        projectName=${projectName},
                        projectsPage=${projectsPage})}">
                        Bench in one month</a>
                    <a th:class="${#strings.equals(filterByCode,'BENCH_IN_TWO_MONTHS')} ? 'dropdown-item active' : 'dropdown-item'"
                       th:href="@{/assign/{projectsPage}/{projectName}/{page}/BENCH_IN_TWO_MONTHS
                       (page=${pageNumber + 1},
                        projectName=${projectName},
                        projectsPage=${projectsPage})}">
                        Bench in two months</a>
                    <a th:class="${#strings.equals(filterByCode,'BOOKED_IN_ONE_MONTH')} ? 'dropdown-item active' : 'dropdown-item'"
                       th:href="@{/assign/{projectsPage}/{projectName}/{page}/BOOKED_IN_ONE_MONTH
                       (page=${pageNumber + 1},
                        projectName=${projectName},
                        projectsPage=${projectsPage})}">
                        Booked in one month</a>
                </div>
            </div>
            <div class="btn-group-holder col-lg-4">
                <button type="submit" id="submitButton" class="btn btn-outline-success" disabled>Submit</button>
            </div>
        </div>
        </br>
        <div class="row">
            <table class="table datatable">
                <thead>
                <tr>
                    <th scope="col">Add</th>
                    <th scope="col">Name</th>
                    <th scope="col">Discipline</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="employee : ${projectAssigneesDTOS.getContent()}">
                    <tr>
                        <td><input class="checkbox" type="checkbox" name="dto" th:value="${employee.id}"/></td>
                        <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
                        <td th:text="${employee.discipline.getValue()}"></td>
                        <td th:text="${employee.grade.getValue()}"></td>
                        <td><input type="date" name="startDate" id="startDate" disabled></td>
                        <td><input type="date" name="endDate" id="endDate" disabled></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </form>

    <!-- PAGINATION STARTS -->
    <div class="row">
        <div class="col-md-4">
            <a th:if="${maxPages != 1}" class="btn btn-primary back-button"
               th:href="@{/projects/{projectsPage}/employeesList/{projectName}/1(projectName=${projectName}, projectsPage=${projectsPage})}">Back</a>
        </div>
        <style>margin: 0px;</style>
        <nav th:if="${maxPages != 1}">
            <ul id="pagination" class="pagination">
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/assign/${projectsPage}/{projectName}/1/${filterByCode}|(projectName=${projectName})}">&laquo;</a>
                    <!--disables back button if page number is less than 1 -->
                </li>
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{/assign/{projectsPage}/{projectName}/{page}/{filtering}
                        (page = ${pageNumber},
                         filtering=${filterByCode},
                         projectName=${projectName},
                         projectsPage=${projectsPage})}">&larr;</a>
                </li>
                <li th:class="${pageNumber == (page - 1)} ? 'selected-button'"
                    th:each="page : ${#numbers.sequence(pageCreator.startPage, pageCreator.endPage)}">
                    <a class="page-link"
                       th:href="@{|/assign/${projectsPage}/{projectName}/${page}/${filterByCode}|(projectName=${projectName})}"
                       th:text="${page}"></a>
                </li>
                <li th:if="${pageNumber + 1 != maxPages}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/assign/${projectsPage}/{projectName}/${pageNumber + 2}/${filterByCode}|(projectName=${projectName})}">&rarr;</a>
                </li>
                <li th:if="${pageNumber + 1 != maxPages}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/assign/${projectsPage}/{projectName}/${maxPages}/${filterByCode}|(projectName=${projectName})}">&raquo;</a>
                </li>
            </ul>
        </nav>
        <div th:if="${maxPages != 1}" class="holder-Go">
            <form method="get">
                <div>
                    <input id="inputPage" name="selectedPage" title="Only whole numbers"
                           type="text" pattern="(^[1-9])[0-9]*" required="required" th:max="${maxPages}"
                           th:min="1"
                           th:value="${selectedPage}"/>
                    <button id="inputPageButton" th:href="@{/assign/${projectsPage}/${projectName}/${page}/${filterByCode}}">Go</button>
                </div>
            </form>
        </div>
    </div>
    <!-- PAGINATION ENDS -->

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/js/assign-to-project.js}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

