<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Projects</title>
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
    <link th:href="@{/css/projects.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/list.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
<nav th:insert="navigation.html :: nav"></nav>
<div class="container-fluid">
    <br>
    <h3>
        List of all Projects
    </h3>

    <div class="row">
        <div class="btn-group-holder col-lg-12">
            <a class="btn btn-outline-success add-new-project-button" th:href="@{/project/add}"
               sec:authorize="hasRole('ROLE_ADMIN')">Add New Project</a>
        </div>
    </div>
    </br>

    <div class="row">
        <table class="table datatable">
            <thead>
            <tr>
                <th class="projects-list" scope="col">Project's name</th>
                <th class="projects-list" scope="col">Project's description</th>
                <th class="projects-list" scope="col">Start date</th>
                <th class="projects-list" scope="col">End date</th>
                <th class="projects-list" scope="col" ></th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="project : ${allProjectsOnPage.getContent()}">
                <tr>
                    <td class="projects-list" th:text="${project.name}"></td>
                    <td class="projects-list" th:text="${project.description}"></td>
                    <td class="projects-list" th:text="${project.startDate}"></td>
                    <td class="projects-list" th:text="${project.endDate}"></td>
                    <td class="projects-list"sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/projects/{pageNumber}/employeesList/{projectName}/1 (projectName=${project.getName()}, pageNumber=${pageNumber+1})}" class="btn btn-default view-projects-button">View Project</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>

    <!-- PAGINATION STARTS -->
    <div class="row justify-content-center">
        <nav th:if="${allProjectsOnPage.totalPages != 1}">
            <ul class="pagination">
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{/projects/1}">&laquo;</a>
                    <!--disables back button if page number is less than 1 -->
                </li>
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/projects/${pageNumber}|}">&larr;</a>
                </li>
                <li th:class="${allProjectsOnPage.number == (page - 1)} ? 'selected-button'"
                    th:each="page : ${#numbers.sequence(pageCreator.startPage, pageCreator.endPage)}">
                    <a class="page-link"
                       th:href="@{|/projects/${page}|}"
                       th:text="${page}"></a>
                </li>
                <li th:if="${pageNumber + 1 != allProjectsOnPage.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/projects/${pageNumber + 2}|}">&rarr;</a>
                </li>
                <li th:if="${pageNumber + 1 != allProjectsOnPage.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/projects/${allProjectsOnPage.getTotalPages()}|}">&raquo;</a>
                </li>
            </ul>
        </nav>
        <div class="holder-Go">
            <form method="get">
                <div>
                    <input id="inputPage" name="selectedPage" title="Only whole numbers"
                           type="text" pattern="(^[1-9])[0-9]{0,3}" required="required" th:max="${maxPages}"
                           th:min="1"
                           th:value="${selectedPage}"/>
                    <button id="inputPageButton" th:href="@{|/projects/${page}?selectedPage=${selectedPage}|}">Go
                    </button>
                </div>
            </form>
        </div>
        <!-- PAGINATION ENDS -->
    </div>
</div>
<!-- Needed to use the bootstrap drop-down menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</body>
</html>
