<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employees Management</title>
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>

    <link th:href="@{/css/projects.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/list.css}" rel="stylesheet" type="text/css" media="screen"/>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<nav th:insert="navigation.html :: nav"></nav>
<div class="container-fluid">
    <div class="text-and-add-button">
        <div class="project-information-holder">
            <h4>Project name:</h4>
            <h4 th:text="${project.getName()}"></h4>
        </div>

        <div class="btn-group-holder col-lg-12">
            <h5 class="label-list">List of Employees:</h5>
            <a class="btn btn-outline-info"
               th:href="@{/assign/{projectsPage}/{projectName}/1/CURRENT_BENCH(projectName=${project.getName()},projectsPage=${projectsPage})}">Add
                Employees</a>
        </div>
    </div>

    <div class="row">
        <table class="table datatable">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Discipline</th>
                <th scope="col">Grade</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
            </tr>
            </thead>

            <th:block th:each="employee : ${allEmployeesOnProjectOnPage.getContent()}">
                <tr>
                    <td th:text="${employee.getName()}"></td>
                    <td th:if="${employee.getDiscipline() != null}"
                        th:text="${employee.getDiscipline()}"></td>
                    <td th:if="${employee.getGrade() != null}"
                        th:text="${employee.getGrade()}"></td>
                    <td th:text="${employee.getStartDate()}"></td>
                    <td th:text="${employee.getEndDate()}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{/projects/{projectsPage}/employeesList/{projectName}/{employeeId}/{page}/remove (page=${pageNumber+1},
                         projectName=${project.getName()},
                         employeeId=${employee.getId()},
                         projectsPage=${projectsPage})}"
                              method="post">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <!-- PAGINATION STARTS -->


    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary back-button"
               th:href="@{/projects/{projectsPage}(projectsPage=${projectsPage})}">Back</a>
        </div>
        <nav th:if="${maxPages != 0}">
            <ul class="pagination">
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{/projects/{projectsPage}/employeesList/{project}/1 (project=${project.getName()},projectsPage=${projectsPage})}">&laquo;</a>
                    <!--disables back button if page number is less than 1 -->
                </li>
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/projects/${projectsPage}/employeesList/${project.getName()}/${pageNumber}|}">&larr;</a>
                </li>
                <li th:class="${pageNumber == (page - 1)} ? 'selected-button'"
                    th:each="page : ${#numbers.sequence(pageCreator.startPage, pageCreator.endPage)}">
                    <a class="page-link"
                       th:href="@{|/projects/${projectsPage}/employeesList/${project.getName()}/${page}|}"
                       th:text="${page}"></a>
                </li>
                <li th:if="${pageNumber + 1 != maxPages}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/projects/${projectsPage}/employeesList/${project.getName()}/${pageNumber + 2}|}">&rarr;</a>
                </li>
                <li th:if="${pageNumber + 1 != maxPages}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/projects/${projectsPage}/employeesList/${project.getName()}/${maxPages}|}">&raquo;</a>
                </li>
            </ul>
        </nav>
        <div th:if="${maxPages != 0}" class="holder-Go">
            <form method="get">
                <div>
                    <input id="inputPage" name="selectedPage" title="Only whole numbers"
                           type="text" pattern="(^[1-9])[0-9]{0,3}" required="required" th:max="${maxPages}"
                           th:min="1"
                           th:value="${selectedPage}"/>
                    <button id="inputPageButton"
                            th:href="@{|/projects/${projectsPage}/employeesList/${project.getName()}/${page}?selectedPage=${selectedPage}|}">
                        Go
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- PAGINATION ENDS -->

</div>
</body>
</html>