<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Allocation Status</title>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{/js/chart.js}"></script>
    <link th:href="@{/css/style.css}" href=""
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/bootstrap.min.css}" href=""
          rel="stylesheet" type="text/css" media="screen"/>
    <!-- INSERT NAV CSS AND Jquery -->
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
</head>
<body>
<!-- INSERT NAV FRAGMENT -->
<nav th:insert="navigation.html :: nav"></nav>
<!-- DIV CONTAINER FOR STATUSES -->
<div class="wrapper row">
    <div class="menu-container col-sm-2 col-xs-12">
        <div class="row">
            <button th:each="status : ${statuses}" class="menu-button col-lg-8" data-th-attr="data-status-code=${status}"
                    th:text="${status}"
                    th:classappend="${status}==${statuses[0]} ? active : ' '"></button>
        </div>
    </div>
    <div class="info-container col-sm-10 col-xs-12">
        <span class="employees-number">
            Number of employees on status <em data-allocation-status>Booked </em>: <strong data-total-number>-</strong> employees.
        </span>
        <br>
        <span class="employees-percentage">
            Percentage of employees on status <em data-allocation-status>Booked </em>: <strong data-total-percentage>-</strong> % from all employees.
        </span>
        <div id="chartdiv"></div>
    </div>
</div>
</body>
</html>
