<!DOCTYPE html>
<!-- INSERT THYMELEAF FRAGMENT -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- INSERT NAV CSS AND JQUERY -->
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
    <!-- LINK CSS -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!--insert the navigation bar from navigation.html to be the same in all pages -->
<nav th:insert="navigation.html :: nav"></nav>
<div>
    <div class="buttons">
        <a th:href="@{/allocationstatus}" type="button" class="btn btn-lg btn-default">Allocation Status</a>
    </div>
    <!--redirect to the lists with employees, sorted by first name and last name-->
    <div class="buttons">
        <a th:href="@{/list/0/firstName,lastName}" type="button" class="btn btn-lg btn-default">Management</a>
    </div>
    <!--redirect to the page where all changes about employees are saved -->
    <div class="buttons">
        <a th:href="@{/management/1}" type="button" class="btn btn-lg btn-default">Management Details</a>
    </div>
    <!--redirect to the page with requests, only manager can access it -->
    <div class="buttons">
        <a th:href="@{/request}" type="button" class="btn btn-lg btn-default" sec:authorize="hasRole('ROLE_ADMIN')">Review Requests</a>
    </div>
    <div class="buttons">
        <a th:href="@{/projects/1}" type="button" class="btn btn-lg btn-default">Projects</a>
    </div>
</div>
</body>
</html>