<!DOCTYPE html>
<!-- INSERT THYMELEAF -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees Management</title>
    <!-- INSERT CSS AND JQUERY FOR NAV -->
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
    <!-- LINK CSS -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/list.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!-- INSERT NAV FRAGMENT -->
<nav th:insert="navigation.html :: nav"></nav>
<div class="container-fluid mb-5">
    <h3>
        List of Employees
    </h3>
    <div class="row">
        <!-- DROPDOWN menu -->
        <div class="nav-item dropdown col-lg-8">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">Sort by <strong th:text="${sortByName}"></strong></a>
            <!-- sort employees by different criteria -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a th:class="${#strings.equals(sortByCode,'firstName,lastName')} ? 'dropdown-item active' : 'dropdown-item'"
                   th:href="@{/list/{page}/firstName,lastName(page = ${pageNumber + 1})}">Name</a>
                <a th:class="${#strings.equals(sortByCode,'email')} ? 'dropdown-item active' : 'dropdown-item'"
                   th:href="@{/list/{page}/email(page = ${pageNumber + 1})}"> E-mail</a>
                <a th:class="${#strings.equals(sortByCode,'employeesPositionsStatus')} ? 'dropdown-item active' : 'dropdown-item'"
                   th:href="@{/list/{page}/employeesPositionsStatus(page = ${pageNumber + 1})}">Status</a>
                <a th:class="${#strings.equals(sortByCode,'employeesPositionsDiscipline')} ? 'dropdown-item active' : 'dropdown-item'"
                   th:href="@{/list/{page}/employeesPositionsDiscipline(page = ${pageNumber + 1})}">Discipline</a>
            </div>
        </div>
        <!-- DROPDOWN menu END -->
        <div class="btn-group-holder col-lg-4">
            <a class="btn btn-outline-info"
               th:href="@{/list/exportToExcel/{page}/{sorting}(page = ${pageNumber}, sorting=${sortByCode})}">Export</a>
            <a class="btn btn-outline-success" th:href="@{/employee/add/{page}/{sorting}
                            (page=${page},
                            sorting=${sortByCode})}" sec:authorize="hasRole('ROLE_ADMIN')">Add</a>
        </div>
    </div>
    <div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}" class="alert alert-danger">
        <p> You cannot delete a manager! </p>
    </div>
    <div id="deleted" th:if="${(param.deleted != null) and (param.deleted[0] == 'true')}" class="alert alert-success">
        <p> You successfully deleted an employee! </p>
    </div>
    <div class="row">
        <table class="table datatable">
            <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Discipline</th>
                <th scope="col">Status</th>
                <th scope="col">Skills</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
            </tr>
            </thead>
            <tbody>
            <!--display all employees fields -->
            <th:block th:each="employee : ${employeeList.getContent()}">
                <tr>
                    <td th:if="${employee.getManager() == null}"><a class="fas fa-user-tie"></a>
                    </td>
                    <td th:unless="${employee.getManager() == null}"></td>
                    <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:if="${employee.employeesPositionsDiscipline != null}"
                        th:text="${employee.employeesPositionsDiscipline.getValue()}"></td>
                    <td th:if="${employee.employeesPositionsDiscipline != null}"
                        th:text="${employee.employeesPositionsStatus.getValue()}"></td>
                    <td th:if="${employee.employeesPositionsDiscipline == null}"}></td>
                    <td th:if="${employee.employeesPositionsDiscipline == null}"></td>
                    <td th:text="${employee.skills}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/edit/{page}/{id}/{sorting}
                            (page=${page},
                            id=${employee.id},
                            sorting=${sortByCode})}"
                           class="btn btn-default">Edit</a>
                    </td>
                    <!--only the admin can delete employees -->
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action=@{/list/delete} method="post">
                            <input type="number" name="id" th:value="${employee.id}" hidden/>
                            <input name="page" th:value="${pageNumber + 1}" hidden/>
                            <input name="sortingProperty" th:value="${sortByCode}" hidden/>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <!-- PAGINATION STARTS -->
    <div class="row justify-content-center">
        <nav th:if="${employeeList.totalPages != 1}">
            <ul class="pagination">
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/list/1/${sortByCode}|}">&laquo;</a>
                    <!--disables back button if page number is less than 1 -->
                </li>
                <li th:if="${pageNumber != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{/list/{page}/{sorting}(page = ${pageNumber}, sorting=${sortByCode})}">&larr;</a>
                </li>
                <li th:class="${employeeList.number == (page - 1)} ? 'selected-button'"
                    th:each="page : ${#numbers.sequence(pageCreator.startPage, pageCreator.endPage)}">
                    <a class="page-link"
                       th:href="@{|/list/${page}/${sortByCode}|}"
                       th:text="${page}"></a>
                </li>
                <li th:if="${pageNumber + 1 != employeeList.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/list/${pageNumber + 2}/${sortByCode}|}">&rarr;</a>
                </li>
                <li th:if="${pageNumber + 1 != employeeList.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/list/${employeeList.getTotalPages()}/${sortByCode}|}">&raquo;</a>
                </li>
            </ul>
        </nav>
        <div class="holder-Go">
            <form method="get">
                <div>
                    <input id="inputPage" name="selectedPage" title="Only whole numbers"
                           type="text" pattern="(^[1-9])[0-9]{0,3}" required="required" th:max="${maxPages}"
                           th:min="1"
                           th:value="${selectedPage}"/>
                    <button id="inputPageButton" th:href="@{|/list/${page}/${sortByCode}?selectedPage=${selectedPage}|}"> Go</button>
                </div>
            </form>
        </div>
    </div>
    <!-- PAGINATION ENDS -->
</div>
<!-- Needed to use the bootstrap drop-down menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</body>
</html>
