<!DOCTYPE html>
<!-- INSERT THYMELEAF -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- INSERT BOOTSTRAP CSS AND JQUERY -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!-- NAV FRAGMENT -->
<nav class="navbar navbar-expand-lg navbar-dark navigation-header">
    <a class="navbar-brand" th:href="@{/dashboard}">Workforce</a>
    <button type="button" class="navbar-toggle" data-target="#myNavbar"  data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- the navigation bar include links to dashboard and logout functionality -->
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " th:href="@{/dashboard}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
        <span id="userAndGitProperties" th:text="${#authentication.getPrincipal().getUsername() + ' ' + @gitProperties}" th:fragment="gitAndBuildVersion"></span>
    </div>
</nav>
</body>
</html>