<!DOCTYPE html>
<!-- INSERT THYMELEAF -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
    <!-- INSERT BOOTSTRAP CSS AND JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script th:src="@{/js/add.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Edit Page</title>
</head>
<body>
<!-- INSERT NAV FRAGMENT -->
<nav th:insert="navigation.html :: nav"></nav>
<!-- INSERT FORM EDIT FRAGMENT -->
<form id="edit" th:object="${employeeValid}" class="col-sm-6 mx-auto mt-5 mb-5" method="post">
    <fieldset>
        <legend>Edit Employee</legend>
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
            </div>
        <input hidden name="page" th:value="${page}">
        <input hidden name="id" th:value="${employee.getId()}">
        <input hidden name="sortingProperty" th:value="${sortingProperty}">

        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
            <input class="form-control col-sm-10" id="firstName" name="firstName" th:value="${employee.firstName}"
                   readonly/>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <input class="form-control col-sm-10" id="lastName" name="lastName" th:value="${employee.lastName}"
                   readonly/>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <input class="form-control col-sm-10" id="email" name="email" th:value="${employee.email}" readonly/>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <input class="form-control col-sm-10" id="password" name="password" type="password"/>
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"></div>
        </div>
        <div class="form-group row">
            <label for="grade" class="col-sm-2 col-form-label">Grade</label>
            <select name="grade" id="grade" class="col-sm-10">
                <option th:each="grade : ${grades}"
                        th:value="${grade}"
                        th:selected="${grade == (position != null ? position.getGrade().getValue() : 'MID')}"
                        th:text="${grade}">Grades
                </option>
            </select>
        </div>
        <div class="form-group row">
            <label for="discipline" class="col-sm-2 col-form-label">Discipline</label>
            <select name="discipline" id="discipline" class="col-sm-10">
                <option th:each="discipline : ${disciplines}"
                        th:value="${discipline}"
                        th:selected="${discipline == (position != null ? position.getDiscipline().getValue() : 'JAVA')}"
                        th:text="${discipline}"></option>
            </select>
        </div>
        <div th:if="${employee.getEmployeesProjects().size() != 0}" class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
            <input type="date" class="form-control col-sm-10" id="startDate" name="startDate"
                   th:each="employeeProject : ${employee.getEmployeesProjects()}"
                   th:value="${employeeProject.getStartDate()}"/>
        </div>
        <div th:if="${employee.getEmployeesProjects().size() == 0}"  class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
            <input type="date" class="form-control col-sm-10" name="startDate"/>
        </div>
        <div th:if="${employee.getEmployeesProjects().size() != 0}" class="form-group row">
            <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
            <input type="date" class="form-control col-sm-10" id="endDate" name="endDate"
                   th:each="employeeProject : ${employee.getEmployeesProjects()}"
                   th:value="${employeeProject.getEndDate()}"/>
        </div>
        <div th:if="${employee.getEmployeesProjects().size() == 0}"  class="form-group row">
            <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
            <input type="date" class="form-control col-sm-10" name="endDate"/>
        </div>
        <div class="form-group row">
            <label for="project" class="col-sm-2 col-form-label">Project</label>
            <select name="project" class="col-sm-10" id="project">
                <option value="default"
                        th:each="project : ${projects}"
                        th:value="${project.name}"
                        th:selected="${project.name == (employee.getEmployeesProjects().size() != 0
                                    ? employee.getEmployeesProjects().get(0).getProject().getName() : 'Flowdesk')}"
                        th:text="${project.name}">
                </option>
            </select>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status</label> </br>
            <select name="status" id="status" class="col-sm-10" onchange="changeFunc()">
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:selected="${status == (position != null ? position.getStatus().getValue() : 'CURRENT_BENCH')}"
                        th:text="${status}"></option>
            </select>
        </div>
        <div th:if="${employee.getEmployeesPositions() == null}" class="form-group row">
            <label for="skill" class="col-sm-2 col-form-label">Skills</label> </br>
            <select name="skill" id="skill" class="col-sm-10">
                <option th:each="skill : ${skills}"
                        th:value="${skill.getName()}"
                        th:text="${skill.getName()}"></option>
            </select>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Edit</button>
            <a class="btn btn-primary"
               th:href="@{/list/{num}/{sorting}(num=${page}, sorting=${sortingProperty})}">Cancel</a>
    </fieldset>
</form>
</body>
</html>