<!DOCTYPE html>
<!-- INSERT THYMELAF -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <!-- INSERT BOOTSTRAP CSS AND JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<!-- INSERT FORM FOR LOGIN FRAGMENT -->
<form action="login" method="post" class="col-sm-5 mx-auto mt-5">
    <fieldset>
        <legend>Workforce</legend>
        <!--the user enter valid email and password to access the app-->
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input class="form-control" id="email" name="email" type="email" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" name="password" type="password" required/>
            </div>
        </div>
        <!--everyone can request access-->
        <div class="form-group row">
            <button type="submit" class="btn btn-outline-primary col-sm-2 ml-3">Login</button>
            <a class="btn btn-outline-success col-sm-3 ml-3" th:href="@{/requestaccess}">Request Access</a>
        </div>
        <!--if one of the params - email or pass is wrong - message is displayed-->
        <div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}" class="alert alert-danger">
            <p> Wrong email or password! </p>
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            <p> Logged out Successfully! </p>
        </div>
    </fieldset>
</form>
</body>
</html>