<!DOCTYPE html>
<!-- INSERT THYMELEAF FRAGMENT -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request access</title>
    <!-- INSERT BOOTSTRAP CSS AND JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
       .form-group.row.required .col-form-label:after {
           content:" *";
           color:red;
       }
   </style>
</head>
<body>
<!-- INSERT REQUEST ACCESS FORM FRAGMENT -->
<form th:action="@{/requestaccess}" th:object="${request}" method="post" class="col-sm-6 mx-auto mt-5">
    <fieldset>
        <legend>Request access</legend>
        <div id="successMessage" th:if="${success}" class="alert alert-success offset-md-2">
            <h3>Your request has been successfully sent</h3>
        </div>
        <!-- the user should enter first and last name, email and reason for request
             all fields are required
             after the 5th visible row and within 300 characters limit the scrollbar is added to the container
        -->
        <div class="form-group row required">
            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
            <input type="text"  th:field="*{firstName}" class="form-control col-sm-10" id="firstName" aria-describedby="nameHelp" placeholder="First Name" required>
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>
        <div class="form-group row required">
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <input type="text"  th:field="*{lastName}" class="form-control col-sm-10" id="lastName" aria-describedby="nameHelp" placeholder="Last Name" required>
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>
        <div class="form-group row required">
            <label for="email" class="col-sm-2 col-form-label">E-mail</label>
            <input type="email"  th:field="*{email}" class="form-control col-sm-10" id="email" aria-describedby="nameHelp" placeholder="E-mail" required>
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <div class="alert alert-danger offset-md-2" th:if="${usedEmail != null}" th:text="${usedEmail}"></div>
        </div>

        <div class="form-group row required">
            <label class="col-sm-2 col-form-label">Reason for request:</label>
            <textarea maxlength="300" th:field="*{reasonForRequest}" class="form-control col-sm-10" rows="5" required></textarea>
            <div class="alert alert-danger offset-md-2" th:if="${#fields.hasErrors('reasonForRequest')}" th:errors="*{reasonForRequest}"></div>
        </div>
        <!-- 2 buttons cancel and submit are available on the end of the page -->
        <button type="submit" th:href="@{/login}" class="btn btn-outline-primary col-sm-2" >Submit</button>
        <a role="button" th:href="@{/login}" class="btn btn-outline-primary col-sm-2 ml-3">Back</a>
        <div th:if="${param.requestaccess}" class="alert alert-success">
            <p> Your request has been submitted successfully! </p>
        </div>
    </fieldset>
</form>
</body>
</html>