.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.selected-button > a {
	pointer-events: none;
	background-color: #00BCD4;
	color: white !important;
}

.pagination > li > a{
    border: 1px solid #00BCD4;
	color: #00BCD4;
}

.btn-group-holder{
     text-align: right;
}

.holder-Go{
   padding: 0px 0px 0px 11px;
}

#inputPage {
    line-height: 34px;
    text-align: center;
    border: 1px solid #00BCD4;
    width: 72px;
}

#inputPageButton{
    line-height: 34px;
    border: 1px solid #00BCD4;
    background: transparent;
    color: #00BCD4;
    cursor: pointer;
}

#inputPageButton:hover {
    background-color: #00BCD4;
    color: white;
}

.pagination-holder {
    padding-top: 6px;
}
.back-button{
height: 38px;
}