.projects-list{
    width: 25%;
}

.view-projects-button, .add-new-project-button{
    float:right;
}

.selected-button > a {
	pointer-events: none;
	background-color: #00BCD4;
	color: white !important;
}

.pagination > li > a{
    border-color: #00BCD4;
	color: #00BCD4;
}
.btn-add-employee{
 float: right;
}
.label-list{
text-align: center;
position: absolute;
}
.project-information-holder{
text-align: center;
}

.back-button{
height: 38px;
}