.btn-stylist {
	width: 120px;
	height: 42px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border: none;
	font-size: 16px;
}
.btn-stylist-green {
	background: #55ce63;
	color: #fff;
}
	.btn-stylist-primary{
		background: #009efb;
		color: #fff;
	}

.btn-un-stylist {
	width: 120px;
	height: 42px;
	background: #CD5C5C;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border: none;
	color: #fff;
	font-size: 16px;
}

.req {
    width: 300px;
    word-break: break-all;
    overflow-wrap: break-word;
}