/* Style the buttons */
.btn-tab {
    border: 1px solid #00BCD4;
    border-bottom: 0px;
    border-top: 0px;
    outline: none;
    padding: 10px 50px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    color: #00aac8;
}

/* Style the active class, and buttons on mouse-over */
.tab-active, .btn-tab:hover {
    background-color: #0baac6;
    color: white;
}

.all-page-content {
    border: 2px solid #00aac8;
}
