.wrapper{
   padding: 10px;
}

.menu-container{

}

.menu-button {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
    min-height: 54px !important;
    font-size: 18px;
    border-radius: 5px;
    background-color: #00BCD4;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.menu-button:hover, .menu-button.active{
    background-color: rgb(100, 102, 109);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

#chartdiv{
   width: 100%;
   height: 500px;
   border: 1px solid #00BCD4;
   margin-top: 15px;
}

.info-container > span{
    margin-bottom: 15px;
    font-size: 18px;
}

#userAndGitProperties {
    color:white;
}

.navigation-header {

    background-color: #00BCD4;
}


.navbar-toggle{
    display: none;
    -webkit-appearance: button;
    -moz-appearance: button;
     appearance: button;
}


@media only screen and (max-width: 991px) {
   .navbar-toggle{
        display: inline-block;
            -webkit-appearance: button;
            -moz-appearance: button;
             appearance: button;
   }
}