<!DOCTYPE html>
<!-- INSERT THYMELEAF -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Management Details</title>
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
    <!-- LINK CSS -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/list.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/reviewRequestAccess.css}" rel="stylesheet" type="text/css" media="screen"/>
    <script th:src="@{/js/reviewRequestAccess.js}"></script>
</head>
<body>
<!-- INSERT NAV FRAGMENT -->
<nav th:insert="navigation.html :: nav"></nav>

<div class="btn-group" >
    <button class="btn-tab tab-active" onclick="window.location.href='/management/1'">List of Changes</button>
    <button class="btn-tab" onclick="window.location.href='/management/revisedRequest/1'">Review Requests</button>
</div>

<!-- CONTAINER FOR MANAGEMENT -->
<div class="container-fluid mb-5 all-page-content">


    <!-- END PAGE TITLE -->
    <div class="row">
        <table class="table datatable">
            <thead>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Action</th>
                <th scope="col">New Value</th>
                <th scope="col">Old Value</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="record : ${managementList.getContent()}">
                <tr>
                    <td th:text="${record.fullName}"></td>
                    <td th:text="${record.action}"></td>
                    <td th:text="${record.newValue}"></td>
                    <td th:text="${record.oldValue}"></td>
                    <td th:text="${record.modifiedDate}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <!-- INSERT PAGINATION -->
    <div class = "row justify-content-center pagination-holder">
        <nav th:if="${maxPages != 0}">
            <ul class="pagination">
                <li th:if="${managementList.number != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/1|}">&laquo;</a>
                    <!--disables back button if page number is less than 1 -->
                </li>
                <li th:if="${managementList.number != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/${pageNumber}|}">&larr;</a>
                </li>
                <li th:class="${managementList.number == (page - 1)} ? 'selected-button'"
                        th:each="page : ${#numbers.sequence(pageCreator.startPage, pageCreator.endPage)}">
                    <a class="page-link"
                       th:href="@{|/management/${page}|}"
                       th:text="${page}"></a>
                </li>
                <li th:if="${managementList.number + 1 != managementList.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/${pageNumber + 2}|}">&rarr;</a>
                </li>
                <li th:if="${managementList.number + 1 != managementList.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/${maxPages}|}">&raquo;</a>
                </li>
                <!-- FIND PAGE -->
                <div class="holder-Go">
                    <form method="get">
                        <div>
                            <input id="inputPage" name="selectedPage" title="Only whole numbers"
                                   type="text" pattern="(^[1-9])[0-9]{0,3}" required="required" th:max="${maxPages}"
                                   th:min="0"
                                   th:value="${selectedPage}"/>
                            <button id="inputPageButton" th:href="@{|/list/${page}/${sortByCode}?selectedPage=${selectedPage}|}"> Go</button>
                        </div>
                    </form>
                </div>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>
