<!DOCTYPE html>
<!-- INSERT THYMELEAF -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Management Details</title>

    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
    <!-- LINK CSS -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/list.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/reviewRequestAccess.css}" rel="stylesheet" type="text/css" media="screen"/>
    <script th:src="@{/js/reviewRequestAccess.js}"></script>

</head>
<body>
<!-- INSERT NAV FRAGMENT -->
<nav th:insert="navigation.html :: nav"></nav>
<!-- CONTAINER FOR MANAGEMENT -->

<div class="btn-group">
    <button class="btn-tab" onclick="window.location.href='/management/1'">List of Changes</button>
    <button class="btn-tab tab-active" onclick="window.location.href='/management/revisedRequest/1'">Review Requests</button>
</div>

<div class="container-fluid mb-5 all-page-content">
    <!-- END PAGE TITLE -->
    <div class="row">
        <table class="table datatable">
            <thead>
            <tr>
                <th scope="col">Manager Name</th>
                <th scope="col">Manager Email</th>
                <th scope="col">New User Email</th>
                <th scope="col">Reason for Request</th>
                <th scope="col">Request Date</th>
                <th scope="col">Action</th>
                <th scope="col">Action Date</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="request : ${allRevisedRequestsPage.getContent()}">
                <tr>
                    <td th:text="${request.revisedManagerFullName}"></td>
                    <td th:text="${request.managerEmail}"></td>
                    <td th:text="${request.email}"></td>
                    <td th:text="${request.reasonForRequest}"></td>
                    <td th:text="${request.requestDate}"></td>
                    <td th:if="${request.requestStatus.getValue().equals('Approved')}"><i class="fa fa-check" title="Approved!" style="font-size:48px;color:green"></i></td>
                    <td th:unless="${request.requestStatus.getValue().equals('Approved')}"><i class="fa fa-close" title="Rejected!" style="font-size:50px;color:red"></i></td>
                    <td th:text="${request.revisedRequestDateTime}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <!-- INSERT PAGINATION -->
    <div class = "row justify-content-center pagination-holder">
        <nav th:if="${maxPages != 0}">
            <ul class="pagination">
                <li th:if="${allRevisedRequestsPage.number != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/revisedRequest/1|}">&laquo;</a>
                    <!--disables back button if page number is less than 1 -->
                </li>
                <li th:if="${allRevisedRequestsPage.number != 0}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/revisedRequest/${pageNumber}|}">&larr;</a>
                </li>
                <li th:class="${allRevisedRequestsPage.number == (page - 1)} ? 'selected-button'"
                    th:each="page : ${#numbers.sequence(pageCreator.startPage, pageCreator.endPage)}">
                    <a class="page-link"
                       th:href="@{|/management/revisedRequest/${page}|}"
                       th:text="${page}"></a>
                </li>
                <li th:if="${allRevisedRequestsPage.number + 1 != allRevisedRequestsPage.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/revisedRequest/${pageNumber + 2}|}">&rarr;</a>
                </li>
                <li th:if="${allRevisedRequestsPage.number + 1 != allRevisedRequestsPage.getTotalPages()}">
                    <style>visibility: hidden; </style>
                    <a class="page-link"
                       th:href="@{|/management/revisedRequest/${maxPages}|}">&raquo;</a>
                </li>
                <!-- FIND PAGE -->
                <div class="holder-Go">
                    <form method="get">
                        <div>
                            <input id="inputPage" name="selectedPage" title="Only whole numbers"
                                   type="text" pattern="(^[1-9])[0-9]{0,3}" required="required" th:max="${maxPages}"
                                   th:min="0"
                                   th:value="${selectedPage}"/>
                            <button id="inputPageButton" th:href="@{|/management/revisedRequest/${page}?selectedPage=${selectedPage}|}"> Go</button>
                        </div>
                    </form>
                </div>
            </ul>
        </nav>

    </div>
</div>

</body>
</html>
