<!doctype html>
<!-- INSERT THYMELEAF -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- INSERT NAV CSS AND Jquery -->
    <th:block
            th:include="navigation.html :: headerfiles">
    </th:block>
    <link th:href="@{/css/requestAccess.css}" rel="stylesheet" type="text/css" media="screen"/>
    <title>Review Requests</title>
</head>
<body>
<!-- INSERT NAV FRAGMENT -->
<nav th:insert="navigation.html :: nav"></nav>
<!-- CONTAINER FOR REQUESTS -->
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Reason For Request</th>
                        <th scope="col">Request Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="request : ${list}">
                        <tr>
                            <td th:text="${request.firstName} + ' ' + ${request.lastName}"></td>
                            <td th:text="${request.email}"></td>
                            <td class="req" th:text="${request.reasonForRequest}"></td>
                            <td th:text="${request.requestDate}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:action=@{/request} method="post">
                                    <input name="id" th:value="${request.id}" } hidden/>
                                    <input name="status" value="APPROVED" } hidden/>
                                    <button type="submit" class="btn-stylist text-uppercase btn-stylist-green">Accept
                                    </button>
                                </form>
                            </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:action=@{/request} method="post">
                                    <input name="id" th:value="${request.id}" } hidden/>
                                    <input name="status" value="REJECTED" hidden/>
                                    <button type="submit" class="btn-un-stylist text-uppercase">Reject</button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
